p{
    background-color: aquamarine;
}
a{
    background-color: rgb(176, 247, 178);
}
div{
    background-color: yellow;
}
h3{
    background-color: rgb(231, 169, 227);
}
span{
    background-color: brown;
}